* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    width: 101%;
    height: 101%;
    object-fit: cover;
    transform: translate(-50%, -50%) scale(1.01);
    filter: blur(5px);
}

.rubik-mono-one-regular {
    font-family: "Rubik Mono One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 20%;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 6px 6px 7px rgba(0,0,0,0.6);
}
