font-face {
    font-family: "Nunito";
    src: url("Nunito.ttf");
}

body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
    animation: gradient ease 10s;
    background-size: 400%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

div {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: #fff;
    font-family: Nunito;
    font-size: 6.4vw;
    width: 70%;
    text-align: center;
}